<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
    <head th:replace="~{layout/admin/head.html :: head}">
        <title>관리자페이지</title>
    </head>
    <body class="sb-nav-fixed">
    <header class="header" id="hd">
        <div th:insert="~{layout/admin/header :: header}"></div>
    </header>
    <div class="side" id="side">
        <div th:insert="~{layout/admin/sidebar :: #layoutSidenav}"></div>
    </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4" style="margin-left: 226px; margin-top: 59px; width: 1668px;">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                회원목록
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>회원 성함</th>
                                        <th>회원 아이디</th>
                                        <th>활동 상태</th>
                                        <th>권한</th>
                                        <th>등록일</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userList : ${userList}">
                                        <td th:text="${userList.id}"></td>
                                        <td th:text="${userList.userName}"></td>
                                        <td th:text="${userList.userId}"></td>
                                        <td th:text="${userList.active}"></td>
                                        <td th:text="${userList.roleName}"></td>
                                        <td th:text="${userList.regdate}"></td>
                                        <td>
                                            <a th:href="@{'/admin/userDetail/' + ${userList.id}}" class="btn btn-outline-secondary">상세보기</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/js/admin/scripts.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/assets/demo/chart-area-demo.js}"></script>
        <script th:src="@{/assets/demo/chart-bar-demo.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/js/admin/datatables-simple-demo.js}"></script>
    </body>
</html>
