<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:cursor="http://www.w3.org/1999/xhtml">
<footer id="ft">
    <div id="footer">
        <div class="footer_in">
            <div><img th:src="@{/images/common/T_grey.png}" style="width: 100px;"></div>
            <div class="footerIn_txt">
                <div>
                    <a th:href="@{/}">회사소개</a>
                    <a th:href="@{/}">오시는길</a>
                    <a th:href="@{/}">이용약관</a>
                </div>
                <dl>
                    <dt>(주)티셀파 </dt>
                    <dd>대표자 : 이소윤</dd>
                    <dd>사업자등록번호 : 1004-8282-1004</dd>
                    <dd>부가통신사업 신고 번호 : 54321</dd>
                    <dd>통신판매신고서 : 제2023-서울금천-1501호</dd>
                    <dd>주소 : 서울 금천구 가산로9길 54 (가산동)</dd>
                    <dd>대표번호 :&nbsp;1577-1004</dd>
                    <p class="copy">Copyright ⓒ TSHERPA Corp. All Rights Reserved</p>
                </dl>
            </div>

            <div class="foot-side">
                <div class="foot-cont cs">
                    <div class="foot-cscenter">
                        <p class="tel">고객센터</p>
                        <h3>1577-1004</h3>
                        <div class="open-time"><span>운영시간</span> <span class="time">오전 10시 ~ 오후 5시 (주말, 공휴일 휴무)</span></div>
                        <div class="open-time lunch"><span>점심시간</span> <span class="time">오후 11시 00분 ~ 오후 1시 00분</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>