<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <link th:href="@{/css/admin/styles.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
</head>

<body>
<!-- header include-->
<header class="header" id="hd">
</header>
<!--contens 시작-->
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header" style="    background-color: #D10024;
    color: white;"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                            <div class="card-body">
                                <form th:action="@{/login}" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="text" name="userId" placeholder="LoginId" />
                                        <label for="inputEmail">로그인 ID</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPassword" type="password" name="password"  placeholder="Password" />
                                        <label for="inputPassword">비밀번호</label>
                                    </div>
                                    <div th:if="${param.error}">
                                        <p style="color: #c7254e">아이디 또는 비밀번호가 올바르지 않거나 가입이 되지 않습니다.</p>
                                    </div>
                                    <div th:if="${param.autherror}">
                                        <p style="color: #2e6da4">토큰 만료 재갱신 바람</p>
                                    </div>
                                    <!--<div class="form-check mb-3">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                    </div>-->
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary" type="submit" style="margin: 0 auto; background-color: #15161D;
    border: #15161D;">로그인</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a th:href="@{/member/join}" style=" text-decoration: none;">회원가입</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!--footer 인크루드-->
<footer class="footer" id="ft">
</footer>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/admin/scripts.js}"></script>
</body>
</html>